@keyframes opacity {
  0% {
    opacity: 0;
    translate: 0 20;
  }
  30% {
    translate: 0 0;
    opacity: 50;
  }
  70% {
    opacity: 80;
  }
  100% {
    opacity: 100;
  }
}

.card {
  animation-name: opacity;
  animation-duration: 3s;
}
